@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h2 class="display-4">@ViewBag.Usuario.Usuario</h2>
    <br /> <br />
    <h3>Saldo total: @ViewBag.Usuario.SaldoTotal</h3>
</div>
